html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html,body{
	margin: 0;
	width: 100%;
	min-height: 100vh;
	font-size: 16px;
	font-family: $font-family;
	background: #122848;
}