.form-item-header{
	position: relative;

	input{
		display: block;
		width: 100%;
		border: none;
		border-bottom: solid 1px rgba(#fff, 0.5);
		font-size: 1em;
		background: transparent;
		padding: 20px;
		color: #fff;
		transition: border 0.2s;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: rgba(#fff, 0.6);
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: rgba(#fff, 0.6);
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: rgba(#fff, 0.6);
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: rgba(#fff, 0.6);
		}
		&:focus{
			outline: 0;
			border-color: #fff;
		}
	}
}
.form-button-header{
	position: absolute;
	background: transparent;
	color: rgba(#fff, 0.5);
	border: none;
	cursor: pointer;
	top: 50%;
	right: 40px;
	transform: translateY(-50%);
	font-size: 1.3em;
	padding: 0;
	margin-top: -3px;
	transition: color 0.2s;

	&:hover{
		color: #fff;
	}
}

